@charset "utf-8";

/* 새글 스킨 (latest) */
.pic_li_lt {position:relative;width:33.3333%;float:left;padding:0 10rem;background:#fff}
.pic_li_lt .lat_title {display:block;line-height:45rem;font-size:1.2em;color:#253dbe}
.pic_li_lt .lat_title a {color:#000;display:inline-block;position:relative}
.latest_top_wr .pic_li_lt:nth-child(3n+1) {clear: both!important}

.pic_li_lt .lt_more {position:absolute;top:11rem;right:10rem;display:block;width:25rem;line-height:25rem;color:#aaa;border-radius:3rem;text-align:center}
.pic_li_lt .lt_more:hover {color:#777}
.pic_li_lt ul:after {display:block;visibility:hidden;clear:both;content:""}
.pic_li_lt li {border-bottom:1rem solid #e5ecee;margin-bottom:10rem}
.pic_li_lt li .lt_img {display:none}
.pic_li_lt li:first-child .lt_img {display:block;margin:0 0 10rem;}
.pic_li_lt li:first-child .lt_img img, .pic_li_lt li .lt_img video {width:100%;height:auto}
.pic_li_lt li .pic_li_tit {font-weight:bold;font-size:1.2em;line-height:20rem;vertical-align:middle}

.pic_li_lt li .fa-heart {color:#ff0000}
.pic_li_lt li .fa-lock {display:inline-block;line-height:14rem;width:16rem;color:#4f818c;background:#cbe3e8;text-align:center;border-radius:2rem;font-size:12rem;border:1rem solid #cbe3e8;vertical-align:middle}
.pic_li_lt li .new_icon {display:inline-block;width:16rem;line-height:16rem;font-size:0.833em;color:#23db79;background:#b9ffda;text-align:center;border-radius:2rem;margin-left:2rem;font-weight:bold;vertical-align:middle}
.pic_li_lt li .hot_icon {display:inline-block;width:16rem;line-height:16rem;font-size:0.833em;color:#ff0000;background:#ffb9b9;text-align:center;border-radius:2rem;vertical-align:middle}
.pic_li_lt li .fa-caret-right {color:#bbb}
.pic_li_lt li .fa-download {display:inline-block;width:16rem;line-height:16rem;font-size:0.833em;color:#daae37;background:#ffefb9;text-align:center;border-radius:2rem;vertical-align:middle}
.pic_li_lt li .fa-link {display:inline-block;width:16rem;line-height:16rem;font-size:0.833em;color:#b451fd;background:#edd3fd;text-align:center;border-radius:2rem;vertical-align:middle}

.pic_li_lt .profile_img img{border-radius:50%}

.lt_info {padding:10rem 0}
.lt_info .lt_nick {}
.lt_info .lt_date {color:#888}

.pic_li_lt .empty_li {line-height:145rem;color:#666;text-align:center;padding:0}
.pic_li_lt .empty_li:before {background:none;padding:0}

.pic_li_lt .lt_cmt {background:#e9eff5;color:#3a8afd;font-size:11rem;height:16rem;line-height:16rem;padding:0 5rem;border-radius:3rem;vertical-align:middle}
.pic_li_lt .lt_more {position:absolute;top:11rem;right:10rem;display:block;width:40rem;line-height:25rem;color:#3a8afd;border-radius:3rem;text-align:center}
.pic_li_lt .lt_more:hover {color:#777}