@charset "utf-8";

/* 인기검색어 */
#popular {}
#popular h2 {text-align:left;color:#8d8c8c;line-height:24rem;padding:10rem}
#popular div {background:#fff;padding:0 15rem;border-bottom:1rem solid #e5ecee}
#popular a {display:block;text-align:left;color:#000;padding:10rem 0;border-bottom:1rem solid #e5ecee}
#popular a:last-of-type {border-bottom:0}
#popular a:hover {color:#3a8afd}